html {
  font-size: 16px;
  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
  }

  @include phones-small {
    font-size: 13px;
  }
  
  @include phones-320 {
    font-size: 12px;
  }
}

.body {
  font-family: 'Ubuntu';
  background-color: #fff;
  color: $gray-text;
}

.wrapper {
  padding-top: 101px;

  @include tablets {
    padding-top: 158px;
  }

  @include phones-small {
    padding-top: 84px;
  }
}

.container {
  max-width: 1020px;
  width: 90%;
  &--wide {
    max-width: 1540px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @include tablets {
    width: 100%;
    padding: 0 57px;
  }

  @include phones-small {
    padding: 0 9%;
  }
}

.section {
  padding: 68px 0 65px 0;
  
  display: flex;
  justify-content: center;
  
  &--info, &--inst-code, &--after-inst {
    background-color: $gray-section;
  }

  &--inst-preview, &--inst-code, &--inst-app {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &--more {
    padding-top: 48px;
    padding-bottom: 10px;
  }

  &__preview {
    margin-bottom: 60px;

    &--info {
      max-width: 615px;
    }
    
    &--more {
      max-width: 650px;
    }

    &--inst {
      margin-bottom: 105px;
    }
  }

  &__content {
    &--inst-app {
      max-width: 790px;
    }
    &--inst-preview {
      margin-left: 35px;

      @include phones-small {
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 600;
    color: $viol;
    text-transform: uppercase;
    letter-spacing: 2px;

    &--main {
      font-size: 36px;
      @include phones {
        font-size: 30px;
      }
    }

    @include phones-320 {
      font-size: 26px;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: 16px;
    color: $gray-text;
    
    &--more {
      color: $viol;
      font-size: 18px;
    }

    &--small-mt {
      margin-top: 15px;
    }

  }

  &__btns {
    display: flex;

    @include phones {
      flex-direction: column;
    }
  }

  &__btn:not(:last-child) {
    margin-right: 20px;

    @include phones {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__icon-list {
    margin-bottom: 45px;
  }
}

.anchor-text {
  text-decoration: underline;
  color: $turq-text;
}

