@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-thin-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-thin-webfont.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-light-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-medium-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-semibold-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-semibold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-bold-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/montserrat-black-webfont.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-black-webfont.woff") format("woff");
  font-weight: 900;
}