.footer {
  background-color: $viol;
  display: flex;
  justify-content: space-between;
  padding: 60px 70px;

  @include tablets {
    padding: 60px 0;
  }

  &__container {
    @include tablets {
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
  }

  &__info {
    @include tablets {
      width: 50%;
    }
    
    @include phones {
      width: 100%;
    }
  }

  &__logo {
    margin-bottom: 20px;
    
    @include phones {
      display: none;
    }
  }

  &__info {
    margin-right: 190px;
    color: #b6b9c9;
    @include tablets {
      margin-right: 0;
    }
  }

  &__right, &__tel {
    @include phones {
      display: none;
    }
  }



  &__tel-main {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  &__tel-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  &__tel-maintext {
    font-size: 26px;
    color: #fff;
  }

  &__tel-text {
    font-size: 22px;
    color: #fff;
  }

  &__tel-subtext {
    color: #adb0c2;
  }

  &__tel-row:not(:last-child) {
    margin-bottom: 17px;
  }

  &__emails {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__emails-row {
    margin-bottom: 5px;
  }

  &__working-time {
    margin-bottom: 15px;
    color: #adb0c2;
  }
}