.install-num {

  @include phones-small {
    padding-left: 40px;
  }

  @include phones-320 {
    padding-left: 25px;
  }

  &__link {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__box {
    margin-bottom: 32px;
  }

  &__img-box {
    position: relative;

    @include phones-320 {
      width: 10vw;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__num {
    position: absolute;
    transform: translateX(-50%);
    bottom: -40px;
    font-size: 150px;
    line-height: 150px;
    font-weight: 600;
    color: $viol;
    opacity: .2;

    @include phones-small {
      font-size: 120px;
    }
    
    @include phones-320 {
      font-size: 100px;
    }
  }

  &__text {
    font-size: 18px;
    @include phones-small {
      max-width: 110px;
    }
  }

}