.install-nums {
  display: flex;

  &__item {
    @include phones-small {
      flex: 1;
    }
    &:not(:last-child) {
      margin-right: 150px;
      @include tablets {
        // margin-bottom: 100px;
      }
  
      @include phones-small {
        margin-right: 0;
        margin-bottom: 0;
      }
    }


  }
  
  
}