.menu {
  display: flex;
  align-items: center;
  letter-spacing: 1.035px;
  @include tablets {
    display: none;
  }

  &--right {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 18px;
    color: $viol;
    text-transform: uppercase;
  }
}